.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 6vw;
  box-sizing: border-box;
  flex-direction: column;
  background: #f8fafb;
}

.services-content {
  border-radius: 40px;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  background: #000000;
  color: #fff;
  padding: 8rem 5.8rem;
  width: 100%;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  flex-direction: column;
}

/* Titolo */
.services-title {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  position: relative;
}

.services-title::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #00cc66;
  width: 300px;
  margin-top: 10px;
}

/* Testo sotto il titolo */
.services-text {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #f4f4f4;
  margin-top: 10px;
  max-width: 700px;
}

/* Bottone di contatto */
.contact-button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00cc66;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #009966;
  transform: translateY(-5px);
}

/* Sezione "What we do" */
.what-we-do-container {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.what-we-do-title {
  margin-left: -800px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.what-we-do-title2 {
  margin-left: -690px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.what-we-do-text {
  margin-left: -400px;
  font-size: 1.5rem;
  color: black;
  line-height: 1.7;
  margin-bottom: 70px;
}

.what-we-do-text2 {
  margin-left: -115px;
  font-size: 1.5rem;
  color: black;
  line-height: 1.7;
  margin-bottom: 80px;
}

/* Container per le service cards */
.services-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 100px;
}

.service-card {
  background-color: transparent;
  border-radius: 12px;
  width: 380px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #00cc66;
}

.service-card-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #8ACE00;
}

.service-card-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #474747;
}

/* Sezione "Tools and Frameworks" */
.tools-cards-container {
  display: flex;
  justify-content: start;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin-top: 30px;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
}

.tools-cards-container::-webkit-scrollbar {
  display: none;
}

.tool-card {
  flex-shrink: 0;
  width: calc(20% - 15px);
  scroll-snap-align: start;
  background-color: #000000;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.tool-icon {
  background-color: white;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.tool-title {
  font-size: 1.4rem;
  color: #8ACE00;
  margin-bottom: 12px;
}

.tool-description {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .tools-cards-container {
    gap: 15px;
  }

  .tool-card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .tool-card {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .tool-card {
    width: 100%;
  }

  .services-cards-container {
    grid-template-columns: 1fr;
  }

  .services-content {
    padding: 5rem 2rem;
  }

  .services-title {
    font-size: 2.5rem;
  }

  .services-text {
    font-size: 1.2rem;
    max-width: 100%;
  }

  .contact-button {
    font-size: 1.1rem;
    padding: 12px 25px;
  }
}