.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 6vw;
  box-sizing: border-box;
  flex-direction: column;
}

.services-content {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  backdrop-filter: blur(15px);
  color: #fff;
  padding: 16rem 3rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  text-align: center;
}

.services-title {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.services-text {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.8;
}

.services-button {
  padding: 15px 30px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #00cc66;
  border-radius: 50px;
  cursor: pointer;
}

.services-details {
  margin-top: 50px;
  text-align: left;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.services-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  position: relative; /* Per il posizionamento della freccia fluttuante */
}

.service-card {
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  flex-shrink: 0;
  height: 350px;
}

.service-card.expanded .service-card-text {
  display: block;
}

.service-card-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #0088d6;
}

.service-card-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff;
  display: -webkit-box;
  line-clamp: 3;
  overflow: hidden;
  transition: height 0.3s ease;
}

.expand-arrow {
  font-size: 2rem;
  margin-top: 10px;
  transition: transform 0.3s ease;
  color: white; /* Freccia bianca */
}

.expand-arrow.expanded {
  transform: rotate(180deg); /* Ruota la freccia quando la card è espansa */
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


@keyframes float {
  0% {
    transform: translateY(-50%) translateY(-10px);
  }
  50% {
    transform: translateY(-50%) translateY(10px);
  }
  100% {
    transform: translateY(-50%) translateY(-10px);
  }
}

@media (max-width: 768px) {
  .service-card {
    width: 200px;
  }
}
