/* Footer styling */
.footer {
  background-color: #202020;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 2rem 0; /* Aggiungi del padding per migliorare la visibilità */
  margin-top: 10%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
}

.footer-text {
  font-size: 1.5rem;
  margin-bottom: 3%;
}

.footer-contact {
  font-size: 1.2rem;
}

.footer-contact a {
  color: #61dafb;
  text-decoration: none;
}
.footer-contact a:hover {
  text-decoration: underline;
}

/* Media Queries per il Footer */
@media (max-width: 768px) {
  .footer-text {
    font-size: 1.2rem; /* Ridotto per schermi più piccoli */
  }

  .footer-contact {
    font-size: 1rem; /* Leggermente più piccolo */
  }
}

@media (max-width: 480px) {
  .footer-text {
    font-size: 1rem;
  }

  .footer-contact {
    font-size: 0.9rem; /* Ancora più piccolo per schermi piccoli */
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Spazio tra le icone */
  margin-top: 1.5rem; 
}

.footer-icon img {
  width: 40px; /* Dimensioni delle icone */
  height: 40px;
  transition: transform 0.3s ease; /* Animazione al passaggio del mouse */
  color: #61dafb;
  text-decoration: none;

}

.footer-icon img:hover {
  transform: scale(1.2); /* Ingrandimento al passaggio del mouse */
  
}
