/* Footer.css */

.footer {
    background-color: #202020; /* Colore di sfondo scuro per il footer */
    color: white; /* Testo bianco */
    text-align: center;
    padding: 20px 0; /* Aggiungi un po' di spazio sopra e sotto */
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .footer-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-contact {
    font-size: 1.2rem;
  }
  
  .footer-contact a {
    color: #61dafb; /* Colore blu per i link */
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  