/* General Container */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f4f7f6;
    min-height: 100vh;
}

/* Main Content Wrapper */
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    text-align: left;
}

/* First Section */
.about-item:first-of-type {
    margin-top: 20px;
}

/* Each Section */
.about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0;
}

/* Reverse order for the second item */
.about-item.reverse {
    flex-direction: row-reverse;
}

/* Text Styling */
.about-text {
    max-width: 50%;
    padding-right: 20px;
    opacity: 0;
    animation: fadeInFromLeft 1.2s forwards;
}

.about-title {
    font-size: 1.8rem; /* Ridotto il font size */
    font-weight: 600;
    color: #000000;
    margin-bottom: 15px; /* Ridotto margine tra titolo e descrizione */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap; /* Impedisce il ritorno a capo */
}

.about-title::before {
    content: '';
    position: absolute;
    width: 250px; /* Linea gialla più lunga */
    height: 4px;
    background-color: #f8d300;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.about-description {
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Animazione per il testo che entra da sinistra */
@keyframes fadeInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Image Styling */
.about-image {
    max-width: 35%;
    opacity: 0;
    animation: fadeInFromLeft 1.2s forwards;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

/* Effetto hover per ingrandire l'immagine */
.about-img:hover {
    transform: scale(1.05);
}

/* Responsiveness */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        padding: 30px 20px;
    }

    .about-item {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        max-width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .about-image {
        max-width: 80%;
        margin-top: 20px;
    }

    .about-title {
        font-size: 1.6rem; /* Font ridotto sui dispositivi mobili */
    }

    .about-description {
        font-size: 1rem;
    }
}
