.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vw;
  margin-top: 4rem;
  margin-bottom: 2rem;
  height: auto;
  width: auto;
}

.about-content {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #000000, #202020);
  backdrop-filter: blur(15px); /* Smoother blur effect */
  color: #fff;
  padding: 8rem 1rem;
  border-radius: 50px;
  border: #00cc66;
  width: 130%;
  position: relative;
  animation: gradient 8s ease infinite;
  transition: all 0.3s ease-in-out;
}

.about-text-container {
  width: 45%;
  margin-left: 2rem;
  text-align: left;
  color: #fffc3a;
  overflow: hidden;
}

.about-image {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.about-title {
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Softened shadow */
  text-align: left;
}

.about-text {
  font-size: 120%;
  line-height: 1.8;
  color: #fff;
}

.about-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #00cc66;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.about-button:hover {
  background-color: #fffc3a;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

@media (max-width: 720px) {
  .about-container {
    padding: 0;
    margin-top: 2rem;
  }

  .about-content {
    flex-direction: column;
    padding: 8vw 5vw;
    border-radius: 0%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .about-text-container {
    width: 55%;
    text-align: left;
  }

  .about-image-container {
    max-width: 100%;
    text-align: left;
  }

  .about-title {
    font-size: 300%;
    white-space: nowrap;
    overflow: visible;
    text-align: center;
  }

  .about-text {
    font-size: 130%;
  }
}
