.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 3vw;
  min-height: 100vh;
  background-color: #f0f0f0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.section.reverse {
  flex-direction: row-reverse;
  background-color: #e0e0e0;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.text-container {
  max-width: 50%;
  padding: 5vh 2vw;
  text-align: center;
  transition: transform 1s ease, opacity 1s ease;
}

.title {
  font-size: 5vw;
  font-weight: bolder;
  margin-bottom: 2vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: slideIn 1s ease-out;
  display: block;
  background: linear-gradient(45deg, #517575, #f8d300);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 2rem;
  color: #333;
  line-height: 1.5;
  opacity: 0;
  white-space: normal;
  text-align: center;
  transition: opacity 1s ease;
  animation: fadeIn 1s ease-out;
}

.description.complete {
  opacity: 1;
}

.title span.quark {
  color: #007BFF;
}

.title span.techie {
  display: block;
  color: #00C851;
}

.title .blue {
  color: #007BFF;
}

.title .yellow {
  color: #FFBB33;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  max-width: 40rem;
  transition: transform 0.3s ease;
}

.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image-container:hover .image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    padding: 5vh 2vw;
    text-align: center;
  }

  .text-container,
  .image-container {
    max-width: 80%;
  }

  .title {
    font-size: 6rem;
  }

  .description {
    font-size: 2.5rem;
  }

  .image {
    border-radius: 15px;
  }
}
