/* Navbar principale */
.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 94%;
  background: linear-gradient(90deg, #000000, #202020);
  color: white;
  padding: 10px 35px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

/* Animazione sfondo della navbar */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Logo della navbar */
.navbar-logo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.2);
}

.navbar-logo img {
  width: 100%;
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

/* Menu dei link della navbar */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  display: none;
}

.navbar-links li {
  position: relative;
  transition: transform 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  display: inline-block;
}

.navbar-links a:hover {
  transform: scale(1.05);
  color: #ffeb73;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffeb73;
  bottom: 0;
  left: -100%;
  transition: all 0.3s ease;
}

.navbar-links a:hover::after {
  left: 0;
}

.navbar-links .active {
  background-color: rgb(41, 41, 41);
  color: #fff9f9;
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dropdown-btn:hover {
  transform: scale(1.2);
  color: #ffeb73;
}

.dropdown-menu {
  list-style: none;
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px 0;
  border-radius: 10px;
}

.dropdown-menu li {
  text-align: center;
}

.dropdown-menu a {
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #444;
}

/* Responsiveness per il menu mobile */
@media (max-width: 1300px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: lightgray;
  }

  .navbar-links {
    position: fixed;
    top: 3rem;
    left: -100%;
    height: 100%;
    width: 250px;
    transition: left 0.3s ease;
    padding: 20px;
  }

  .navbar-links.responsive {
    left: 0;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-logo {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .navbar {
    border-radius: 0;
    top: 0;
    position: fixed;
    padding: 0.75rem 3.2rem;
  }

  .dropdown-menu {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    left: 0;
    text-align: left;
    max-width: 100%;
  }

  .dropdown-menu a:hover {
    background-color: transparent;
  }

  .navbar-links .active {
    box-shadow: none;
    max-width: 100%;
  }
}
